/* Main styles for TheFluxApex.github.io */

html,
body {
    width: vw;
    height: vh;
    margin: 0;
    padding: 0;
    background-color: #31332c;
    color: #d2f1d3;
    font-family: 'Fira Code', monospace;
}

.nomarg {
    margin: 0;
}

.nopad {
    padding: 0;
}

#header {
    width: inherit;
    height: 40px;
    background-color: #393b33;
    border-bottom: 1px solid #667254;
    font-size: 4vw;
}

.headtext {
    /* font-size: 1em; */
    /* font-size: 80%; */
}


/* #placeholder {
    margin: 0px;
    box-shadow: 0px -1px red;
} */